*{
    margin: 0;
    padding: 0;
}
/* NAVIGATION BAR ON THE LANDING PAGE */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    font-weight: bold;
    color: #707070;
}

ul li {
    display: inline-block;
    margin-left: 90px;
    font-size: 20px;
}
#home {
    color:#D9A404;
}
.Homepage {
    background-image: url("/images/cardano-blockchain-platform-with-smartphone.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    
}
/* BUTTON N HOME PAGE */
.btnsection {
    padding: 11px 14px;
    border: none;
    border-radius: 7px;
    font-size: 1.1rem;
}
#Connect {
border: 2px solid #8FBB00;
color: whitesmoke;
background-color: #707070;
padding: 10px 20px;
font-weight: bold;
}
/* textsection */
#textsection {
    margin: 5%;
    /* padding-bottom: 90px; */
}
h1 {
    color: white;
    font-size: 50px;
}
#secure {
    color: #F2CB4A;
}
h2 {
    color: white;
    font-size: 50px;
}
#text1 {
    color: bisque;
    font-size: 20px;
    padding-top: 30px;
}
.btn2section {
    padding: 11px 14px;
    border: none;
    border-radius: 7px;
    font-size: 1.1rem;
    padding-top: 30px;
}
#Get {
border: 3px solid #D9A404;
color: whitesmoke;
background-color:#00FF00;
padding: 13px 20px;
font-weight: bold;
}
/* MINI BAR */
#minibar {
    min-height:10vh;
    /* padding-bottom:40px; */
    padding-top: 60px;
    background-color:#00FF00;
}
#list ul li {
    font-size: 30px;
}
#time {
    font-weight: bold;
}
#king {
    font-weight: bold;
}
#hdk {
    font-weight: bold;
    font-style: italic;
}
#laces {
    font-weight: bold;
    font-style: italic;
}
/* Assets page */
.Assets {
    min-height: 50vh;
    padding-bottom: 20px;
    /* border: 2px solid red; */
    background-color: #000105;
}
#shadow {
    /* min-height: 50vh; */
    /* padding: 80%; */
    /* border: 1px solid white; */
    box-shadow: inset 20px;
    padding: 40px 20px;
    margin: 50px 50px;
    border-radius: 10px;
    margin-left: 20%;
    /* background-color:#D9984A; */
    /* padding-bottom: 40px; */
}
/* table contect */
/* table { */
    /* width: 80%; */
    /* border-collapse: collapse; */
    /* border: 2px solid black; */

th, td {
    text-align: left;
    padding: 8px;
    color: aliceblue;
    /* border: 2px solid black; */
}
tr:nth-child(even) {
    background-color:#595959;

}
th, td {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
/* BUTTONS IN THE TABLE */


/*  */
/*  divs 3 container */
.container {
    /* border: 2px solid red; */
    min-height: 50vh;
    background-color: #000105;
    display: flex;
}
#boxediv {
    width: 80%;
    /* /border: 2px solid white; */
    display: flex;

}
/* inside the div boxediv */
#pay {
    width: 50%;
    /* border: 2px solid grey; */
    /* padding-top: 30px; */
    
}
#ment {
    height: 40vh;
    width: 70%;
    min-height: 40vh;
    box-shadow: inset 10px;
    padding: 40px 20px;
    margin-bottom: 90%;
    height: 20%;
    margin: 60% 30px;
    border-radius: 14px;
    background-color:#D9984A;

}
#easy{
    border: 2px solid yellow;
    height: 80vh;
    width: 70%;
    min-height: 40vh;
    border: 1px solid white;
    box-shadow: inset 10px;
    padding: 40px 20px;
    margin-bottom: 90%;
    height: 20%;
    margin: 60% 30px;
    border-radius: 14px;
    background-color:#D9984A;
    /* padding-bottom: 50%; */

}
#voult {
    width: 40%;
    min-height: 40vh;
    box-shadow: inset 10px;
    padding: 40px 20px;
    margin-bottom: 90%;
    height: 20%;
    margin: 50% 30px;
    border-radius: 14px;
    background-color:rgb(3, 3, 49);
}
#boxtext {
    width: 98%;
    margin-left: 10%;
    /* border: 2px solid #8FBB00; */
}
/* box text */
#text3 {
    font-size: 50px;
    padding-top: 50%;
    /* margin-left: 10%; */
}
h3 {
    font-size: 30px;
    padding-top: 30px;
}
p {
    padding-top: 20px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#color {
    color: #707070;
    font-size: 30px;
    padding-top: 30px;
}
.btn5section {
    padding: 15px 18px;
    border: none;
    border-radius: 7px;
    font-size: 1.1rem;
    padding-top: 50px;
    /* border: 3px solid #00FF00; */
}
#trade {
/* border: 2px solid #8FBB00; */
color: whitesmoke;
background-color: #00FF00;
padding: 15px 25px;
font-weight: bold;
}
/* INVEST PAGE */
.containertwo {
    background-color: #000105;
    display: flex;
}
#invest {
    /* border: 2px solid blue; */
    width: 50%;
    margin-left: 50px;
    /* padding-top: 15%; */
    /* height: 60vh; */
}
#textimg {
    width: 50%;
    /* padding-top: 60%; */
   /* / border: 2px solid red; */
    display: flex;
    margin-bottom: 20%;
    /* height: 60vh; */

}
/* button 6 */
.btn6section {
    padding: 11px 14px;
    border: none;
    border-radius: 7px;
    font-size: 1.1rem;
    padding-top: 80px;
}
#explore {
color: #00FF00;
background-color: transparent;
padding: 10px 20px;
font-weight: bold;
border:2px solid #00FF00;
}
#color2 {
    color: #00FF00;
}
#lorem {
    color: #707070;
    padding-top: 40px;
}
/* second div */
#texting {
    padding-top: 20%;
}
#blue {
    width: 50%;
    box-shadow: inset 10px;
    padding: 40px 20px;
    height: 28%;
    margin: 10% 30px;
    border-radius: 14px;
    background-color:#2CA3A8;
    
}
#pink {
    width: 50%;
    padding-bottom: 20%;
    box-shadow: inset 10px;
    padding: 40px 20px;
    /* margin-bottom: 60%; */
    height: 28%;
    margin: 60% 20px;
    border-radius: 14px;
    background-color:#E280FF;
}
/* conntainerthree */
.container3 {
    background-color: #000105;
    display: flex;
    /* min-height: 80vh; */

}
#threeboxes {
    width: 50%;
    display: flex;
    padding-bottom: 50%;
/* }
#threetext {
    /* width: 50%; */
    /* padding-top: 20%; */
} 
#clarity {
    width: 10%;
    box-shadow: inset 10px;
    padding: 20px 20px;
    height: 8%;
    margin: 5% 5px;
    border-radius: 14px;
    background-color:#E280FF;
}
#confidence {
    width: 10%;
    box-shadow: inset 10px;
    padding: 20px 20px;
    height: 8%;
    margin: 5% 5px;
    border-radius: 14px;
    background-color:#E280FF;
    
}
#community {
    width: 10%;
    box-shadow: inset 10px;
    padding: 20px 20px;
    height: 8%;
    margin: 0% 5px;
    border-radius: 14px;
    background-color:#E280FF;
}
#one {
    color: #707070;
    font-size: 20px;
}
/*  */

#six {
    width: 10%;
    box-shadow: inset 10px;
    padding: 20px 20px;
    height: 8%;
    margin: 0% 5px;
    border-radius: 14px;
    background-color:#E280FF;
}
#seven {
    width: 10%;
    box-shadow: inset 10px;
    padding: 20px 20px;
    height: 8%;
    margin: 0% 5px;
    border-radius: 14px;
    background-color:#E280FF;
}

#traders {
    border:2px solid #00FF00;
    width: 10%;
    box-shadow: inset 10px;
    padding: 20px 20px;
    height: 8%;
    margin: 0% 5px;
    border-radius: 14px;
    background-color:#E280FF;
}
/*  */
.backimage {
    background-image: url("./images/still-life-arrangement-with-cryptocurrency-removebg-preview\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height:80vh;
    /* margin: 20%; */
    /* padding-top: 80px; */
}
/*  */

#future {
    font-size: 20px;
    color: #707070;
    padding-top: 2%;
    margin-left: 40px;
}
#wallet {
    margin-left: 40px;
    padding-top: 2%;
    color: #00FF00;
}
#portfolio {
    margin-left: 40px;
}
.button {
    margin-left: 40px;
    padding-top: 3%;
    display: flex;
    padding: 18px 14px;
    border: none;
    border-radius: 2%;
    font-size: 1.1rem;
    text-align: center;
    padding-top: 60px;
}
#Connect {
        /* border: 2px solid lightblue; */
        padding: 20px 20px;
        color: whitesmoke;
        background-color: transparent;
        font-weight: bold;
        
    }
    /*  */
.container7 {
    background-color: #000105;
    min-height: 60vh;
    padding-top: 5%;
    align-content: center;

}
#earn {
    margin-left: 50%;
    padding-right: 10%;
    margin-left: 5%;
    border:2px solid #707070;
    width: 70%;
    box-shadow: inset 20px;
    padding: 8% 10px;
    height: 28%;
    margin-left: 10%;
    border-radius: 14px;
    background-color:#707070;
    text-align: center;
}
#color7 {
    color: whitesmoke;
    font-size: 30px;
}
#start {
    color: #00FF00;
}
    
